// Primary color

$softBlue:hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);

// Netural color

$grayishBlue: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);
$white: hsl(0,0%,100%);
$blue: rgb(60,74,146);

// Font size

$small : 0.8rem;
$normal: 1rem;
$large: 1.3rem;

// Font weight 

$normal: 200;
$bold: 400;
$bolder: 600;
