@import "global";


.grid-layout {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 100%;
    grid-template-areas:
        "navigation"
        "page-content"
        "footer";
    position: relative;

    .mobile-navigation {
        display: none;
    }

    .mobile-navigation.unactive {
        display: none;
    }

    .dropdown-navigation {
        display: none;
    }

    .dropdown-navigation.active {
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 2;
        background-color: $blue;
        padding: 1rem 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0.9;

        .navigation-list {
            width: 100%;
            text-align: center;

            .first-list-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo-dropdown {
                    fill: $white;
                }

                .close-dropdown-menu {
                    width: 20px;
                }
            }

            .list-item {
                width: 100%;
                padding: 20px 0;
                color: $white;
                border-bottom: 1px solid $grayishBlue;
                cursor: pointer;
            }

            .last-list-item {
                margin-top: 20px;
                border: 2px solid $white;
                border-radius: 10px;

                .btn-login {
                    color: white;
                    font-weight: $bolder;
                }
            }
        }

        .list-social-media {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .list-item {
                margin-right: 40px;
                cursor: pointer;
            }
        }
    }

    .navigation {
        grid-area: navigation;
        position: fixed;
        z-index: 1;
        background-color: $white;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15rem;

        .logo {
            width: 150px;
            height: 25px;
            cursor: pointer;
        }

        .nav-list {
            display: flex;
            align-items: center;

            .list-item {
                margin-right: 2rem;
                cursor: pointer;
            }

            .list-item:hover {
                color: $softRed;
            }

            .btn-login {
                height: 100%;
                background-color: $softRed;
                color: $white;
                border: 1px solid transparent;
            }

            .btn-login:hover {
                color: $softRed;
                border: 1px solid $softRed;
                background-color: $white;
            }
        }
    }

    .page-content {
        grid-area: page-content;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 100%;
        grid-gap: 5rem;

        .section-one {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
                "text-content img-container";
            padding-top: 3rem;
            position: relative;


            .text-content {
                grid-area: text-content;
                padding-left: 15rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .title {
                    width: 60%;
                    font-weight: $bolder;
                }

                .text {
                    width: 50%;
                    margin: 1rem 0;
                }

                .btns-container {

                    .btn-chrome {
                        background-color: $softBlue;
                        margin-right: 10px;
                        border: 1px solid transparent;
                    }

                    .btn-chrome:hover {
                        color: $softBlue;
                        border: 1px solid $softBlue;
                        background-color: $white;
                    }

                    .btn-firefox {
                        background-color: $grayishBlue;
                        border: 1px solid transparent;
                    }

                    .btn-firefox:hover {
                        color: $grayishBlue;
                        border: 1px solid $grayishBlue;
                        background-color: $white;
                    }

                }
            }

            .img-container {
                grid-area: img-container;

                .section-one-image {
                    padding-right: 15rem;
                    width: 100%;
                    height: 380px;
                }
            }

            .blue-shape {
                position: absolute;
                top: 50%;
                right: 0;
                z-index: -1;
                background-color: $softBlue;
                height: 200px;
                width: 40%;
                border-radius: 150px 0px 0px 150px;
            }
        }

    .section-two {
        display: flex;
        flex-direction: column;
        align-items: center;

        .features {
            width: 100%;
            padding: 0 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .text {
                width: 50%;
                text-align: center;
                margin: 2rem 0;
            }
    
            .btns-container {
                margin-bottom: 3rem;
                display: flex;
    
                .btn-section-two {
                    color: $grayishBlue;
                    padding: 20px 30px;
                    border-bottom: 1px solid $grayishBlue;
                }
    
                .btn-section-two:hover {
                    color: $softRed;
                }
    
                .btn-section-two.active {
                    color: $darkBlue;
                    border-bottom: 4px solid $softRed;
                }
            }
        }

        .content-section-two {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
                "img-container text-container";
            position: relative;

            .blue-shape {
                position: absolute;
                z-index: -1;
                top: 130px;
                left: 0;
                background-color: $softBlue;
                height: 350px;
                width: 40%;
                border-radius: 0 150px 150px 0;
            }

           .img-container {
                grid-area: img-container;
                padding-left: 15rem;

                .section-two-image {
                    width: 100%;
                    height: 380px;
                }
           }

            .text-container {
                grid-area: text-container;
                padding-right: 15rem;
                margin-top: 50px;
                margin-left: 50px;

                .text {
                    text-align: start;
                    width: 80%;
                    margin: 1rem 0 1.5rem 0;
                }
            }
        }
    }

    .section-three {
        padding: 0 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            margin-top: 3rem;
        }

        .text {
            width: 40%;
            text-align: center;
            margin: 2rem 0;
        }

        .cards-container {
            display: flex;
            gap: 1.5rem;
            justify-content: space-between;

            .card {
                width: 250px;
                height: 300px;
                padding: 3rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                border-radius: 10px;

                .card-img {
                    width: 70px;
                    height: 70px;
                }

                .card-title {
                    color: $darkBlue;
                    font-size: $small;
                    font-weight: $bolder;
                    margin-top: 1rem;
                }

                .card-info {
                    color: $grayishBlue;
                    font-size: $small;
                    margin: 1rem;
                }

                .img-dots {
                    margin-bottom: 1rem;
                }

                .btn-add-and-install {
                    background-color: $softBlue;
                }

                .btn-add-and-install:hover {
                    color: $softBlue;
                    border: 1px solid $softBlue;
                    background-color: $white;
                }
            }

            .card-two {
                margin-top: 30px;
            }

            .card-three {
                margin-top: 50px;
            }
        }
    }

    .section-four {
        padding: 0 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            margin: 2rem 0;
            width: 50%;
            text-align: center;
        }

        .questions-list {
            width: 60%;

            .list-item {
                width: 100%;
                border-top: 1px solid $grayishBlue;
                padding: 1rem;
                font-size: $small;
                color: $darkBlue;
                cursor: pointer;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .ico-arrow {
                        width: 10px;
                        height: 10px;
                    }
                }

                div:hover {
                    color: $softRed;
                }

                .answer {
                    color: $grayishBlue;
                    display: none;
                    margin-top: 2rem;
                }
            }

            .list-item.active {

                div {
                    
                    .svg {
                        transform: rotate(180deg);
                        
                        .ico-arrow {
                            stroke: $softRed;
                        }
                    }
                }

                .answer {
                    display: block;
                }
            }

            .last-list-item {
                border-bottom: 1px solid $grayishBlue;
                margin-bottom: 3rem;
            }
        }
    }

    .section-five {
        width: 100%;
        background-color: $softBlue;
        padding: 3rem 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;

        h4 {
            font-weight: $normal;
        }

        .message {
            margin: 2rem 0;
            text-align: center;
        }

        .contact-us-email {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .input-container {

                .input-email {
                    width: 300px;
                    padding: 10px;
                    display: block;
                }
    
                .input-email::placeholder {
                    color: $grayishBlue;
                    font-size: $small;
                }

                .error-message {
                    font-size: $small;
                    color: $white;
                    margin-left: 10px;
                    display: none;
                }

                .img-error {
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    display: none;
                }
            }

            .input-container.error {
                background-color: $softRed;
                padding: 2px 2px 8px 2px;
                border-radius: 5px;
                position: relative;

                .error-message {
                    display: block;
                }

                .img-error {
                    display: block;
                }
            }

            .btn-contact-us {
                background-color: $softRed;
                margin-left: 2rem;
                border: 1px solid transparent;
            }
    
            .btn-contact-us:hover {
                border: 1px solid $softRed;
                color: $softRed;
                background-color: $white;
            }
        }
    }
}

    .footer {
        grid-area: footer;
        background-color: $darkBlue;
        width: 100%;

        .footer-content {
            padding: 0 15rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .nav-list {
                display: flex;
                color: $white;

                .list-item {
                    margin-right: 50px;
                    cursor: pointer;

                    .logo-footer {
                        fill: $white;
                    }
                }

                .list-item:hover {
                    color: $softRed;
                }
            }

            .list-social-media {
                display: flex;
                align-items: center;

                .list-item {
                    cursor: pointer;
                    margin-right: 30px;

                    .icon {
                        width: 20px;
                    }

                    .icon:hover {
                        fill: $softRed;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 2564px) {

    .grid-layout {

        .navigation {
            padding: 0 30rem;
        }

        .page-content {

            .section-one {
                padding-top: 3rem;

                .text-content {
                    padding-left: 30rem;
                }

                .img-container {

                    .section-one-image {
                        padding-right: 30rem;
                    }
                }
            }

            .section-two {

                .features {
                    padding: 0 30rem;
                }
                
                .content-section-two {

                    .img-container {
                        padding-left: 30rem;
                    }

                    .text-container {
                        padding-right: 30rem;
                    }
                }
            }

            .section-three {
                padding: 0 30rem;
            }

            .section-four {
                padding: 0 30rem;
            }

            .section-five {
                padding: 3rem 30rem;
            }
        }

        .footer {

            .footer-content {
                padding: 0 30rem;
            }
        }
    }
}

@media screen and (max-width: 1800px) {

        .grid-layout {

        .navigation {
            padding: 0 25rem;
        }

        .page-content {

            .section-one {
                
                .text-content {
                    padding-left:  25rem;
                }

                .img-container {

                    .section-one-image {
                        padding-right: 25rem;
                    }
                }
            }

            .section-two {

                .features {
                    padding: 0 25rem;
                }

                .content-section-two {

                    .img-container {
                        padding-left: 25rem ;
                    }

                    .text-container {
                        padding-right: 25rem;
                    }
                }
            }

            .section-three {
                padding: 0 25rem;
            }

            .section-four {
                padding: 0 25rem;
            }

            .section-five {
                padding: 3rem 25rem;
            }
        }

        .footer {

            .footer-content {
                padding: 0 25rem;
            }
        }
    }
}

@media screen and (max-width: 1650px) {

        .grid-layout {

        .navigation {
            padding: 0 15rem;
        }

        .page-content {

            .section-one {

                .text-content {
                    padding-left: 15rem;

                    .title {
                        width: 100%;
                    }
                }

                .img-container {

                    .section-one-image {
                        padding-right: 15rem;
                    }

                    .blue-shape {
                        width: 80%;
                    }
                }
            }

            .section-two {

                .features {
                    padding: 0 15rem;
                }

                .content-section-two {

                    .img-container {
                        padding-left: 15rem;

                        .section-two-image {
                            width: 100%;
                        }
                    }

                    .text-container {
                        padding-right: 15rem;
                    }
                }
            }

            .section-three {
                padding: 0 15rem;
            }

            .section-four {
                padding: 0 15rem;
            }

            .section-five {
                padding: 3rem 15rem;
            }
        }

        .footer {

            .footer-content {
                padding: 0 15rem;
            }
        }
    }
}

@media screen and (max-width: 1450px) {

    .grid-layout {

        .navigation {
            padding: 0 5rem;
        }

        .page-content {

            .section-one {

                .text-content {
                    padding-left: 5rem;
                }

                .img-container {

                    .section-one-image {
                        padding-right: 5rem;
                    }
                }
            }

            .section-two {

                .features {
                    padding: 0 5rem;
                }

                .content-section-two {

                    .img-container {
                        padding-left: 5rem;

                        .section-two-image {
                            width: 100%;
                        }
                    }

                    .text-container {
                        padding-right: 5rem ;
                    }
                }
            }

            .section-three {
                padding: 0 5rem;
            }

            .section-four {
                padding: 0 5rem;
            }

            .section-five {
                padding: 3rem 5rem;
            }
        }

        .footer {

            .footer-content {
                padding: 0 5rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .grid-layout {

        .page-content {

            .section-three {

                .cards-container {

                    .card {
                        width: 220px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {


    .grid-layout {
        grid-template-rows: 100px auto auto;
        grid-template-areas: 
            "mobile-navigation"
             "page-content"
             "footer"
        ;

        .page-content {

            .section {

                .text {
                    font-size: $normal;
                    width: 80% !important;
                }

                .title {
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }

        .navigation {
            display: none;
        }

        .mobile-navigation {
            padding: 0 10rem;
            grid-area: mobile-navigation;
            width: 100%;
            height: 100px;
            display: block;
            position: fixed;
            background-color: $white;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon-hamburger {
                width: 20px;
                height: 15px;
                cursor: pointer;
            }
        }

        .page-content {

            .section-one {
                grid-template-columns: 100%;
                grid-template-rows: auto auto;
                grid-template-areas: 
                    "img-container"
                    "text-content"
                ;

                .img-container {
                    padding: 0 10rem;
                    display: flex;
                    justify-content: center;

                    .section-one-image {
                        padding: 0;
                    }
                }

                .blue-shape {
                    top: 30%;
                }

                .text-content {
                    padding: 0 10rem;
                    align-items: center;

                    .title {
                        width: 60%;
                        text-align: center;
                    }

                    .text {
                        text-align: center;
                    }
                }
            }

            .section-two {

                .features {
                    padding: 0 10rem;

                    .btns-container {
                        flex-direction: column;
                        width: 100%;
                    }
                }

                .content-section-two {
                    grid-template-columns: 100%;
                    grid-template-rows: auto auto;
                    grid-template-areas: 
                        "img-container"
                        "text-container";

                    .img-container {
                        padding: 0 10rem ;
                        margin-top: 30px;
                    }

                    .text-container {
                        padding: 0 10rem;
                        margin: 50px 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .text {
                            text-align: center;
                        }
                    }
                }
            }

            .section-three {
                padding: 0 10rem;

                .title {
                    margin: 0;
                }

                .cards-container {
                    flex-direction: column;

                    .card {
                        width: 250px;
                    }
                }
            }

            .section-four {
                padding: 0 10rem;

                .questions-list {
                    width: 100%;
                }
            }

            .section-five {
                padding: 3rem 10rem;

                .contact-us-email {
                    flex-direction: column;
                    width: 80%;

                    .input-container {
                        width: 100%;
                        
                        .input-email {
                            width: 100%;
                        }
                    }

                    .btn-contact-us {
                        width: 100%;
                        margin: 3rem 0 0 0;
                    }
                }
            }
        }

        .footer {

            .footer-content {
                padding: 2rem 10rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .nav-list {
                    flex-direction: column;
                    align-items: center;

                    .list-item {
                        margin: 10px 0;
                    }
                }

                .list-social-media {
                  margin-top: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 870px) {

    .title {
        width: 100% !important;
    }

        .grid-layout {

            .dropdown-navigation.active {
                padding: 1rem 5rem;
            }

            .mobile-navigation {
                padding: 0 5rem;

            }

            .page-content {

                .section-one {

                    .img-container {
                        padding: 0 5rem;
                    }

                    .text-content {
                        padding: 0 5rem;
                    }
                }

                .section-two {

                    .features {
                        padding: 0 5rem;
                    }

                    .content-section-two {

                        .img-container {
                            padding: 0 5rem;
                        }
    
                        .text-container {
                            padding: 0 5rem;
                        }
                    }
                }

                .section-three {
                    padding: 0 5rem;
                }

                .section-four {
                    padding: 0 5rem;
                }

                .section-five {
                    padding: 3rem 5rem;
                }
            }

            .footer {

                .footer-content {
                    padding: 2rem 5rem;
                }
            }
        }
}

@media screen and (max-width: 510px) {

    .grid-layout {

        .mobile-navigation {
            padding: 0 2rem;
        }

        .dropdown-navigation.active {
            padding: 1rem 2rem;
            align-items: center;

            .navigation-list {
                width: 90%;
            }

            .list-social-media {
                width: 90%;
            }
        }

        .page-content {

            .section-one {

                .img-container {
                    padding: 0 2rem;
                }

                .text-content {
                    padding: 0 2rem;
                }
            }

            .section-two {

                .features {
                    padding: 0 2rem;
                }

                .content-section-two {

                    .img-container {
                        padding: 0 2rem;
                    }

                    .text-container {
                        padding: 0 2rem;
                    }
                }
            }

            .section-three {
                padding: 0 2rem;
            }

            .section-four {
                padding: 0 2rem;
            }

            .section-five {
                padding: 3rem 2rem;
            }
        }

        .footer {

            .footer-content {
                padding: 2rem 2rem;
            }
        }
    }
}

